In [22]:
from sklearn import tree
import pandas as pd
import os

In [23]:
df = pd.read_csv('slimTurkeySurveyDataWithCategories.csv')
df.head()

,Atr1,Atr2,Atr3,Atr4,Atr5,Atr6,Atr7,Atr8,Atr9,Atr10,...,Atr46,Atr47,Atr48,Atr49,Atr50,Atr51,Atr52,Atr53,Atr54,Class
0,2,2,4,1,0,0,0,0,0,0,...,2,1,3,3,3,2,3,2,1,1
1,4,4,4,4,4,0,0,4,4,4,...,2,2,3,4,4,4,4,2,2,1
2,2,2,2,2,1,3,2,1,1,2,...,3,2,3,1,1,1,2,2,2,1
3,3,2,3,2,3,3,3,3,3,3,...,2,2,3,3,3,3,2,2,2,1
4,2,2,4,1,1,1,0,0,0,0,...,2,1,2,3,2,2,2,1,0,1

In [24]:
target = df["Class"]
target_names = ["Married", "Divorced"]

In [25]:
data = df.drop("Class", axis=1)
feature_names = data.columns
df = df.reset_index()
data.head()

,Atr1,Atr2,Atr3,Atr4,Atr5,Atr6,Atr7,Atr8,Atr9,Atr10,...,Atr45,Atr46,Atr47,Atr48,Atr49,Atr50,Atr51,Atr52,Atr53,Atr54
0,2,2,4,1,0,0,0,0,0,0,...,3,2,1,3,3,3,2,3,2,1
1,4,4,4,4,4,0,0,4,4,4,...,2,2,2,3,4,4,4,4,2,2
2,2,2,2,2,1,3,2,1,1,2,...,2,3,2,3,1,1,1,2,2,2
3,3,2,3,2,3,3,3,3,3,3,...,3,2,2,3,3,3,3,2,2,2
4,2,2,4,1,1,1,0,0,0,0,...,2,2,1,2,3,2,2,2,1,0

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [27]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.8936170212765957

In [28]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.8936170212765957

In [29]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.15235110592180146, 'Atr40'),
 (0.07066574493066712, 'Atr36'),
 (0.06969786562956243, 'Atr34'),
 (0.06545860763749632, 'Atr44'),
 (0.06023351673571746, 'Atr38'),
 (0.0583594674736469, 'Atr39'),
 (0.05729631190474012, 'Atr37'),
 (0.04622553399657361, 'Atr41'),
 (0.04370204493916883, 'Atr17'),
 (0.039266232231161324, 'Atr35'),
 (0.0259217656375323, 'Atr19'),
 (0.024974559952852794, 'Atr50'),
 (0.023466119225791494, 'Atr33'),
 (0.02239792804455031, 'Atr4'),
 (0.02054637491127082, 'Atr15'),
 (0.018017325659550245, 'Atr9'),
 (0.01741582418504399, 'Atr13'),
 (0.01671551664403397, 'Atr20'),
 (0.01670895194849154, 'Atr31'),
 (0.0106765971706299, 'Atr16'),
 (0.009224236178480758, 'Atr32'),
 (0.008386331039653964, 'Atr11'),
 (0.007790120476591952, 'Atr18'),
 (0.006878586580683188, 'Atr53'),
 (0.006849429977910311, 'Atr28'),
 (0.006447288942151879, 'Atr14'),
 (0.006260837090105286, 'Atr26'),
 (0.006167456825808155, 'Atr42'),
 (0.0059557105319071515, 'Atr51'),
 (0.0059394268634975055, 'Atr30'),
 (0.005646754471884548, 'Atr5'),
 (0.005168158153974458, 'Atr25'),
 (0.005041550060771028, 'Atr6'),
 (0.005039288302326584, 'Atr3'),
 (0.004448546521890907, 'Atr1'),
 (0.004116579575619137, 'Atr52'),
 (0.004076302569510348, 'Atr29'),
 (0.0040322599465328676, 'Atr46'),
 (0.004002354955346524, 'Atr21'),
 (0.0036979465180659713, 'Atr49'),
 (0.0028502786057179393, 'Atr7'),
 (0.0024619293480475494, 'Atr27'),
 (0.002457117694075454, 'Atr10'),
 (0.002143232377282377, 'Atr45'),
 (0.002091521401466849, 'Atr43'),
 (0.0020398014011853358, 'Atr2'),
 (0.0016875132668370796, 'Atr23'),
 (0.0014877224961513252, 'Atr22'),
 (0.001452224590203505, 'Atr24'),
 (0.0014312757703426081, 'Atr54'),
 (0.0013033301733149554, 'Atr47'),
 (0.0011479946780611437, 'Atr8'),
 (0.0011458902262522512, 'Atr12'),
 (0.0010336076080661822, 'Atr48')]